# Built outputs & artifacts
/build/
app/build/
*.apk
*.aar
*.ap_
*.aab

# IDE configurations
.idea/
*.iml
.gradle/
.kotlin/
/captures/
.externalNativeBuild/
.cxx/

# Local environment & config files
local.properties
.env

# Secrets & signing keystores
*.keystore
*.jks
*.pepk
google-services.json

# OS & System specific files
.DS_Store
Thumbs.db

# Logs
*.log

